* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/* variables */
:root {
    --white: #ffffff;
    --black: #000;
    --maroon: #C81F25;
    --offwhite: #f5f5f5;
    --blue: #007bff;
    --transparent: transparent;
}

h1, h2, h3, p {
    color: var(--offwhite);
}

p {
    font-size: 18px;
}

.main-container {
    max-width: 2560px;
    width: 100%;
}

.container {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.d-flex-center {
    justify-content: center;
}

.d-flex-align-center {
    align-items: center;
}

.d-flex-space-between {
    justify-content: space-between;
}

.justify-left {
    justify-content: left;
}

.align-start {
    align-items: start;
}

.gap-20 {
    gap: 20px;
}

.p-1 {
    padding: 10px 0;
}

.p-20 {
    padding: 20px;
}

.h-100 {
    height: 100vh;
}

/* header */

nav {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.ul-list a {
    position: relative;
}

.ul-list a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: var(--offwhite);
    width: 0;
    height: 2px;
    transition: 0.4s ease-in-out;
}

#humburger {
    cursor: pointer;
}

.burger-menu {
    position: absolute;
    z-index: 999;
}

.ul-list li:hover a:before {
    width: 100%;
}

.logo a,
ul li a  {
    text-decoration: none;
    color: var(--offwhite);
}

ul li {
    list-style: none;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

/* banner */

#banner {
    background: url(../images/vintage_2.png) center center / cover no-repeat;
    position: relative;
    min-height: 100vh; /* set full screen height */
}

#banner:before {
    content: '';
    position: absolute;
    background: var(--black);
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#banner .main-container {
    padding: 20px;
}

/* content-area */
#content-area {
    padding: 50px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}

/* home */
#home img {
    width: 250px;
    height: 250px;
    aspect-ratio: auto;
    border-radius: 50%;
}

/* contact */
#contact a {
    color: var(--white);
    text-decoration: none;
    position: relative;
}

/* gallery */

#gallery {
  width: auto;
}

#gallery img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  /* aspect-ratio: 16 / 9; */
  border-radius: 30px;
}




