* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal
}


h1, h2, h3, p {
    color: #fff;
}

p {
    font-size: 18px;
}

.main-container {
    max-width: 2560px;
    width: 100%;
}

.container {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.d-flex-center {
    justify-content: center;
}

.d-flex-align-center {
    align-items: center;
}

.d-flex-space-between {
    justify-content: space-between;
}

.justify-left {
    justify-content: left;
}

.align-start {
    align-items: start;
}

.gap-20 {
    gap: 20px;
}

.p-1 {
    padding: 10px 0;
}

.p-20 {
    padding: 20px;
}

.h-100 {
    height: 100vh;
}

.mb-20 {
    margin-bottom: 20px;
}

/* header */

nav {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.ul-list a {
    position: relative;
}

.ul-list a:active {
    border: 2px solid #fff;
}

.ul-list li:hover a:before {
    width: 100%;
}

ul li a  {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

/* banner */

#banner {
    background: url(../images/tech-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    min-height: 100vh;
}

#banner .main-container {
    padding: 20px;
}

#text-area {
    margin-top: 100px;
    }

div#text-area {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #fff;
}

/* home */
#home img {
    width: 250px;
    height: 250px;
    aspect-ratio: auto;
    border-radius: 50%;
}

/* contact */
.social-media img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    filter: invert(1);
}

.social-media img:hover {
    filter: invert(0);
}


/* gallery */

#gallery {
  width: auto;
}

#gallery img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
}




